body{
    background-color: rgb(241, 237, 227);
}

h1{
    color: black;
    text-align: center;
}

hr{
    border-top: 2px solid #661616;
}

.center{
    margin: auto;
    width: 80%;
    padding: 10px;
}

.topnav {
    overflow: hidden;
    /*background-color: #333;*/
}

.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #661616;
    color: white;
}

.topnav .icon {
    display: none;
    color: #000000;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.measure-button{
  margin: auto;
  padding-bottom: 5px;
  height: 20px;
  width: 100%;
}

.container {
    display: flex; /* Enables Flexbox for the container */
    justify-content: space-around; /* Distributes space evenly around items */
    align-items: top; /* Vertically centers items within the container */
    width: 100%; /* Ensures container takes full width */
    height: 200px; /* Example height for the container */
}

.section {
    flex: 1; /* Allows sections to grow and shrink proportionally */
    padding: 10px;
    margin: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    border: #661616 solid 1px;
}